@import '~stylesheets/common/variables';

.projectShow {
  width:85.8%;
  margin:0 auto;
  margin-top:170px;
  padding-bottom:215px;
}

.projectShow__element {
  position:relative;
}

.projectShow__element:not(:last-child) {
  margin-bottom:70px;
}

.projectShow__imageContainer {
  width:100%;
  overflow:hidden;
}

.projectShow__imageContainer--centered {
  width:61%;
  margin:0 auto;
  display:block;
  overflow:hidden;
  min-width:860px;
}

.projectShow__image {
  width:100%;
}

.projectShow__mask {
  position:absolute;
  top:0;
  left:-1%;
  background-color:$white-athens;
  width:102%;
  height:100%;
  transform-origin::right center;
  transform:scaleX(0.1);
  z-index:1;
}

.projectShow__imageContainer--active {
  .projectShow__mask {
    transform:scaleX(0);
    transition:all 1100ms cubic-bezier(0.44, 0.68, 0.48, 0.91);
  }
}

.projectShow__label {
  font-size:1.406rem;
  margin-top:30px;

  p:first-child {
    margin-bottom:13px;
  }
}

.projectShow__label--centered {
  font-size:1.406rem;
  margin:0 auto;
  margin-top:30px;
  width:61%;
  text-align:center;
  display:block;
  min-width:860px;

  p:first-child {
    margin-bottom:13px;
  }
}

.projectShow__italic {
  font-style:italic;
}
