<div class="projectShow">

  <div class="projectShow__element" v-for="(index, element) in projectData.show">

    <div v-if="index !== 0">

      <div class="projectShow__imageContainer--centered" v-if="element.type == 'centered'">

        <img class="projectShow__image" v-bind:src="'./images/'+element.image" v-else>

        <div class="projectShow__mask"></div>

      </div>

      <div class="projectShow__imageContainer" v-else>

        <img class="projectShow__image" v-bind:src="'./images/'+element.image" v-else>

        <div class="projectShow__mask"></div>

      </div>

    </div>

    <!-- <div class="projectShow__label" v-if="element.type == 'double-paragraph'">
      <p>{{element.firstLabel}}</p>
      <p class="projectShow__italic">{{element.secondLabel}}</p>
    </div>
    <div class="projectShow__label--centered" v-if="element.type == 'centered'">
      <p>{{element.firstLabel}}</p>
      <p>{{element.secondLabel}}</p>
    </div>
    <div class="projectShow__label" v-else>
      {{element.label}}
    </div> -->

  </div>

</div>
