@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';

.project {
  background-color:$white-athens;
  opacity:0;
}

.project--enter {
  opacity:1;
  transition:opacity 700ms ease-out;
}

.project__end {
  height:100vh;
}
