@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';

.project {
  background-color:$white-athens;
  opacity:0;
}

.project--enter {
  opacity:1;
  transition:opacity 700ms ease-out;
}

.project__end {
  height:100vh;
}

.project--out {
  opacity:0;
  transition:opacity 700ms cubic-bezier(0.190,  1.000, 0.220, 1.000);
}
