@import '~stylesheets/common/variables';

.projectsLeftSide {
  width:63%;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

.projectLeftSide__wrapper {
  width:77.5%;
  margin:0 auto;
  margin-top:70px;
  display:block;
}

.projectLeftSide__nav {
  li {
    height:15px;
    overflow:hidden;
  }
}

.projectsLeftSide__about {
  font-weight:500;
  font-size:0.9375rem;
  color:$gray-mine-shaft;
  display:inline-block;
  transform:translate3d(0, 100%, 0);

  animation-name:typo-slide-up;
  animation-duration:650ms;
  animation-fill-mode:forwards;
  animation-delay:1600ms;

  transition:all 750ms ease-out;

  &:hover {
    opacity:0.6;
  }
}

.projectsLeftSide__container {
  height:60%;
  width:100%;
  min-height:33.5rem;
  overflow:hidden;
  position:relative;
}

.projectsLeftSide__cover {
  height:100%;
  width:100%;
  background-size:cover;
  background-position:center center;
  cursor:pointer;

  animation-name:slide-cover-3d;
  animation-duration:1130ms;
  animation-fill-mode:forwards;
  animation-timing-function:ease-out;
}

.projectsLeftSide__cover--hidden {
  width:100%;
  height:100%;
  background-size:cover;
  background-position:center center;
  cursor:pointer;

  animation-name:slide-cover-down;
  animation-duration:600ms;
  animation-fill-mode:forwards;
  animation-timing-function:ease-out;
  animation-delay:450ms;
}

.projectsLeftSide__mask {
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  background-color:$color-white;

  animation-name:slide-out-home;
  animation-duration:1130ms;
  animation-fill-mode:forwards;
  animation-timing-function:cubic-bezier(0.62, 0.26, 0, 1.02);
}

.projectsLeftSide__mask--scrolled {
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  background-color:$color-white;
  transform:translate3d(0, -100%, 0);

  animation-name:slide-down-home;
  animation-duration:600ms;
  animation-fill-mode:forwards;
  animation-delay:450ms;
  animation-timing-function:cubic-bezier(0.62, 0.26, 0, 1.02);
}

.not-released {
  cursor:auto;
}
