@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';

.about {
  width:85.8%;
  margin:0 auto;
  margin-top:70px;
  display:flex;
  flex-direction: column;
  min-height:100vh;

  @media screen and (max-width:790px) {
    display:none;
  }
}

.about__nav {
  font-weight:500;
  font-size:0.9375rem;

  @media screen and (max-width:800px) {
    display:none;
  }

  @media screen and (min-width:1600px) {
    font-size:16px;
  }
}

.about__link {
  display:inline-block;
  cursor:pointer;
  height:15px;
  overflow:hidden;

  a {
    color:$gray-mine-shaft;
    transform:translate3d(0, 100%, 0);
    display:block;

    &:hover {
      opacity:0.6;
      transition:opacity 300ms ease-out;
    }
  }

  &:first-child {
    margin-right:1.5rem;

    a {
      transition-delay:100ms;
    }
  }

  @media screen and (min-width:1600px) {
    height:17px;
  }
}

.about__link--enter {
  a {
    transform:translate3d(0, 0, 0);
    transition:transform 300ms ease;
  }
}

.about__container {
  display: flex;
  justify-content: space-between;
  margin-top: 170px;
  max-width: 1100px;
}

.about__content {
  width:49%;
  max-width:563px;
  min-width:500px;
  // font-size:2.063rem;
  font-size: 16px;
  // line-height:45px;
  line-height:24px;
  margin-right:10%;
  // margin-top:6%;
  opacity:0;

  p:nth-child(2) {
    margin-top:6%;
  }

  // @media screen and (min-width:1600px) {
  //   margin-top:13%;
  //   margin-right:14%;
  // }

  @media screen and (max-width:1170px) {
    // font-size:27px;
    // line-height:39px;
    // margin-top:14%;
  }

  @media screen and (max-width:924px) {
    // margin-right:3%;
    // margin-top:15%;
  }

  @media screen and (max-width:595px) {
    font-size:22px;
    line-height:30px;
    width:80%;
    margin:0;
    margin-top:15%;
    min-width:auto;
  }
}

.about__content--enter {
  opacity:1;
  transition:opacity 750ms ease-out;
}

.dev {
  font-weight:500;
  font-style:italic;
  color:$black-mine-shaft;
}

.about__socials {
  margin-top:8%;
  display: flex;
  flex-direction: column;
}

.about__social {
  display:inline-block;
  margin-right:1.750rem;

  a {
    font-size:0.938rem;
    color:$white-soft;

    &:hover {
      opacity:0.4;
      transition:opacity 750ms ease-out;
    }
  }

  @media screen and (max-width:800px) {
    display:block;
  }

  &:last-child {
    margin-top: 34px;
  }
}
