@import '~stylesheets/common/variables';

.projectsRightSide {
  width:37%;
  background-color:$white-athens;

  // animation-name:slide-home-right;
  // animation-timing-function:ease-out;
  // animation-duration:1000ms;
  // animation-fill-mode:forwards;
  // animation-delay:500ms;
}

.projectsRightSide__wrapper {
  width:62%;
  margin:0 auto;
  display:flex;
  flex-direction:column;
  height:70%;
  justify-content:space-between;
}

.projectsRightSide__selectedNumberMask {
  height:15px;
  overflow:hidden;
  margin-top:70px;
}

.projectRightSide__selectedNumber {
  font-weight:500;
  font-size:0.9375rem;
  color:$gray-mine-shaft;
  display:block;

  transform:translate3d(0, 100%, 0);

  animation-name:typo-slide-up;
  animation-duration:650ms;
  animation-fill-mode:forwards;
  animation-delay:1200ms;
}

.projectRightSide__selectedNumber--hidden {
  font-weight:500;
  font-size:0.9375rem;
  color:$gray-mine-shaft;
  display:block;

  transform:translate3d(0, 0, 0);

  animation-name:typo-slide-down;
  animation-duration:600ms;
  animation-fill-mode:forwards;
}

.projectsRightSide__container {
}

.projectsRightSide__separator {
  width:100%;
  height:1px;
  background-color:$blue-ocean;
  opacity:0.3;
  margin:50px 0;
}

.projectsRightSide__label {

  .projectsRightSide__line {
    font-size:2.063rem;
    font-weight:500;
    margin-bottom:0.625rem;
    color:$black-mine-shaft;
    height:33px;
  }

  // .projectsRightSide__line:nth-child(1) {
  //   display:inline-block;
  //   position:relative;
  //
  //   &:after {
  //     content:'';
  //     background-color:$black-mine-shaft;
  //     width:0px;
  //     height:2px;
  //     display:block;
  //     position:absolute;
  //     top:50%;
  //     right:-20px;
  //     transform:translate(100%, -50%);
  //
  //     animation-name:draw-line-project;
  //     animation-timing-function:ease-out;
  //     animation-duration:300ms;
  //     animation-fill-mode:forwards;
  //     animation-delay:900ms;
  //   }
  // }

  .projectsRightSide__mask {
    height:100%;
    overflow:hidden;

    .projectsRightSide__typo {
        transform:translate(0%, 100%);

        animation-name:typo-slide-up;
        animation-duration:750ms;
        animation-fill-mode:forwards;
        animation-delay:600ms;
    }
  }
}
