@import '~stylesheets/common/variables';

.projectsRightSide {
  width:0%;
  background-color:$white-athens;

  animation-name:slide-home-right;
  animation-timing-function:ease-out;
  animation-duration:1000ms;
  animation-fill-mode:forwards;
  animation-delay:500ms;
}

.projectsRightSide__wrapper {
  width:62%;
  margin:0 auto;
  display:flex;
  flex-direction:column;
  height:70%;
  justify-content:space-between;
}

.projectsRightSide__selectedNumber {
  font-family:$font-primary;
  font-weight:500;
  font-size:0.9375rem;
  color:$gray-mine-shaft;
  margin-top:70px;
  display:block;
  opacity:0;

  animation-name:fade-in;
  animation-duration:500ms;
  animation-fill-mode:forwards;
  animation-delay:1700ms;
}
