<div class="projectsRightSide">

  <div class="projectsRightSide__wrapper">

    <div class="projectsRightSide__selectedNumberMask">
      <div class="projectRightSide__selectedNumber" v-else>0{{projectNumber}}</div>
    </div>

    <div class="projectsRightSide__container">
      <projects-list></projects-list>
      <div class="projectsRightSide__separator"></div>
      <div class="projectsRightSide__label">
        <div class="projectsRightSide__line">
          <div class="projectsRightSide__mask">
            <h2 class="projectsRightSide__typo">Selected</h2>
          </div>

        </div>
        <div class="projectsRightSide__line">
          <div class="projectsRightSide__mask">
            <h2 class="projectsRightSide__typo">works</h2>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
