@import '~stylesheets/common/variables';

.preview {
  margin-top:10%;
  opacity:1;
  transition:opacity 200ms ease-out;
  background-color:$color-white;
  position:relative;
}

.preview__layer {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:$color-black;
  z-index:1;
  opacity:0.8;
  transition:opacity 700ms ease-out;
}
