@import '~stylesheets/common/variables';

.projectsList {
  font-size:0.9375rem;
  // opacity:0;
  //
  // animation-name:fade-in;
  // animation-duration:1200ms;
  // animation-fill-mode:forwards;
  // animation-delay:2200ms;
}

.projectsList__container {
  display:flex;
  justify-content:space-between;
  margin-bottom:0.9375rem;
}

.projectsList__name--selected {
  font-weight:600;
  cursor:pointer;
  height:15px;
  overflow:hidden;
  display:inline-block;
  position:relative;
  padding-left:0px;

  animation-name:add-project-padding;
  animation-timing-function:ease-out;
  animation-duration:500ms;
  animation-fill-mode:forwards;
  animation-delay:900ms;

  &:after {
    content:'';
    background-color:$black-mine-shaft;
    width:0px;
    height:2px;
    display:block;
    position:absolute;
    top:50%;
    left:0;

    animation-name:draw-line-project;
    animation-timing-function:ease-out;
    animation-duration:500ms;
    animation-fill-mode:forwards;
    animation-delay:900ms;
  }
}

.projectsList__name--hidden {
  font-weight:600;
  cursor:pointer;
  height:15px;
  overflow:hidden;
  display:inline-block;
  position:relative;
  padding-left:50px;
  animation-name:remove-project-padding;
  animation-timing-function:ease-out;
  animation-duration:500ms;
  animation-fill-mode:forwards;

  &:after {
    content:'';
    background-color:$black-mine-shaft;
    width:30px;
    height:2px;
    display:block;
    position:absolute;
    top:50%;
    left:0;

    animation-name:erase-line-project;
    animation-timing-function:ease-out;
    animation-duration:300ms;
    animation-fill-mode:forwards;
  }
}

.projectsList__name {
  color:$blue-ocean;
  font-weight:400;
  cursor:pointer;

  &:hover {
    font-weight:600;
    color:$black-mine-shaft;
  }
}

.projectsList__name--faded {
  color:$blue-ocean;
  font-weight:400;
  cursor:pointer;
  opacity:0;

  animation-name:fade-in;
  animation-duration:1200ms;
  animation-fill-mode:forwards;
  animation-delay:1200ms;
}

.projectsList__discover {
  display:none;
}

.projectsList__discover--active {
  display:block;
  font-weight:500;
  cursor:pointer;
}
