@import '~stylesheets/common/variables';

.projectsList {
  font-size:0.9375rem;
  opacity:0;

  animation-name:fade-in;
  animation-duration:1200ms;
  animation-fill-mode:forwards;
  animation-delay:2200ms;

  li {
    display:flex;
    justify-content:space-between;
    margin-bottom:0.9375rem;
  }
}

.projectsList__name--selected {
  font-weight:600;
  font-family:$font-primary;
}

.projectsList__name {
  color:rgba(34, 53, 97, 0.19);
  font-family:$font-primary;
  font-weight:400;
}

.projectsList__discover {
  font-family:$font-primary;
  font-weight:500;
  opacity:0;

  animation-name:fade-in;
  animation-duration:1200ms;
  animation-fill-mode:forwards;
  animation-delay:2800ms;
}
