.projectsList {
  font-size:0.9375rem;
  opacity:0;

  animation-name:fade-in;
  animation-duration:1200ms;
  animation-fill-mode:forwards;
  animation-delay:2200ms;

  li {
    display:flex;
    justify-content:space-between;
    margin-bottom:0.9375rem;
  }
}

.projectsList__name--selected {
  font-weight:600;
}

.projectsList__name {
  color:rgba(34, 53, 97, 0.19);
}

.projectsList__discover {
  opacity:0;

  animation-name:fade-in;
  animation-duration:1200ms;
  animation-fill-mode:forwards;
  animation-delay:2800ms;
}
