@import '~stylesheets/common/variables';

.logoLoader {
  background-color:$black-mine-shaft;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.logoLoader__logo {
  font-family:$font-logo;
  font-weight:700;
  font-size:2.875rem;
  color:$color-white;
  opacity:0.1;
}
