@import '~stylesheets/common/variables';

.logoLoader {
  background-color:$black-mine-shaft;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.logoLoader__logo {
  opacity:0;

  svg {
    width:85px;
  }
}

.logoLoader__logo--enter {
  opacity:0.1;
  transition:opacity 750ms ease-out;
}
