<div class="projectHeader">

  <nav class="projectHeader__nav">
    <div class="projectHeader__wrapper">
      <div class="projectHeader__links">
        <a v-on:click="changePage('about')">
          <div class="projectHeader__link">About</div>
        </a>
        <a v-on:click="changePage('works')"->
          <div class="projectHeader__link">Works</div>
        </a>
      </div>
    </div>
  </nav>

  <div class="projectHeader__wrapper">

    <div class="projectHeader__image">
      <img
        :src="'./images/'+ projectData.imageCover"
        alt="">
    </div>

    <div class="projectHeader__presentation">
      <div class="projectHeader__title">
        <div class="projectHeader__titleContainer">
          <!-- <div class="projectHeader__titleMask"> -->
            <div class="projectHeader__titleTypo">{{projectData.name}}</div>
          <!-- </div> -->
          <!-- <div class="projectHeader__titleMask">
            <div class="projectHeader__titleTypo">{{projectData.type}}</div>
          </div> -->
        </div>
      </div>

      <div class="projectHeader__description">
        <div class="projectHeader__descriptionContainer">

          <!-- <div class="projectHeader__separator"></div> -->

          <p class="projectHeader__excerpt">
            {{projectData.desc}}
          </p>

          <ul class="projectHeader__details">
            <li>{{projectData.env}}</li>
            <li>{{projectData.role}}</li>
            <li>{{projectData.date}}</li>
          </ul>
        </div>
      </div>

    </div>
  </div>

</div>
