<div class="projectHeader">

  <nav class="projectHeader__nav">
    <div class="projectHeader__wrapper">
      <a v-link="{ name: 'about' }">About</a>
      <a v-link="{ name: 'home' }">Works</a>
    </div>
  </nav>

  <div class="projectHeader__wrapper">

    <div class="projectHeader__presentation">
      <div class="projectHeader__title">
        <div class="projectHeader__titleContainer">
          <p>boucheron</p>
          <p>redesign</p>
        </div>
      </div>

      <div class="projectHeader__description">
        <ul class="projectHeader__details">
          <li>01 - school project</li>
          <li>role - designer</li>
          <li>2016</li>
        </ul>

        <div class="projectHeader__separator"></div>

        <p class="projectHeader__excerpt">
          The House of Boucheron is a French family dynasty founded by Frederic Boucheron in 1858. Boucheron makes watches, jewellery, and licenses its marque for perfumes. We were asked to rethink Boucheron digital presence by bringing clarity, luxury and an high-end approach to the current website.
        </p>
      </div>

    </div>
  </div>

</div>
