<div class="projectHeader">

  <nav class="projectHeader__nav">
    <div class="projectHeader__wrapper">
      <a v-link="{ name: 'about' }">About</a>
      <a v-link="{ name: 'home' }">Works</a>
    </div>
  </nav>

  <div class="projectHeader__wrapper">

    <div class="projectHeader__presentation">
      <div class="projectHeader__title">
        <div class="projectHeader__titleContainer">
          <p>{{projectData.name}}</p>
          <p>{{projectData.type}}</p>
        </div>
      </div>

      <div class="projectHeader__description">
        <ul class="projectHeader__details">
          <li>0{{projectData.id}} - {{projectData.env}}</li>
          <li>role - designer</li>
          <li>{{projectData.date}}</li>
        </ul>

        <div class="projectHeader__separator"></div>

        <p class="projectHeader__excerpt">
          {{projectData.desc}}
        </p>
      </div>

    </div>
  </div>

</div>
