@font-face {
    font-family: 'AktivGrotesk';
    src: url('/fonts/AktivGroteskCorp-Light.woff2') format('woff2'),
         url('/fonts/AktivGroteskCorp-Light.woff') format('woff');
    font-weight: 300;
}
