@keyframes pulse {
  0% {
    color:$gray-mine-shaft;
  }
  50% {
    color:$color-white;;
  }
  100% {
    color:$gray-mine-shaft;
  }
}

@keyframes typo-slide-up {
  from {
    transform:translate3d(0, 100%, 0);
  }
  to {
    transform:translate3d(0, 0, 0);
  }
}

@keyframes typo-slide-down {
  from {
    transform:translate3d(0, 0, 0);
  }
  to {
    transform:translate3d(0, 100%, 0);
  }
}

@keyframes draw-line-project {
  to {
    width:14px;
  }
}

@keyframes erase-line-project {
  to {
    width:0px;
  }
}

@keyframes fade-in {
  to {
    opacity:1;
  }
}

@keyframes add-project-padding {
  to {
    padding-left:34px;
  }
}

@keyframes remove-project-padding {
  to {
    padding-left:0px;
  }
}

// @keyframes slide-home-right {
//   to {
//     width:37%;
//   }
// }

@keyframes slide-cover-3d {
  from {
    transform:translate3d(-40px, 0, 0);
  }
  to {
    transform:translate3d(0, 0, 0);
  }
}

@keyframes slide-cover-down {
  from {
    transform:translate3d(0, 0, 0);
  }
  to {
    transform:translate3d(0, 40px, 0);
  }
}

@keyframes slide-out-home {
  to {
    transform:translate3d(100%, 0, 0);
  }
}

@keyframes slide-down-home {
  from {
    transform:translate3d(0, -100%, 0);
  }
  to {
    transform:translate3d(0, 0, 0);
  }
}
