@keyframes pulse {
  0% {
    color:$gray-mine-shaft;
  }
  50% {
    color:$color-white;;
  }
  100% {
    color:$gray-mine-shaft;
  }
}

@keyframes slide-down-home {
  from {
    transform:translate3d(0, -100%, 0);
  }
  to {
    transform:translate3d(0, 0, 0);
  }
}
