@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';

.projects {
  display:flex;
  height:100vh;
  overflow:hidden;
}

.homepage {
  cursor:url('/images/scroll-cursor.png'), auto;
}

.homepage--scrolled {
  cursor:auto;
}
