@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';

.mobile {
  display:none;

  @media screen and (max-width:790px) {
    display:block;
    position:absolute;
    z-index:1000;
    width:100%;
    margin:0 auto;
    padding:70px 0;
    min-height:100vh;
    background-color:$white-athens;
  }

  .about__content {
    margin:0 auto;
  }
}
