<div class="mobile">

  <div class="about__content isMobile">
    <p>My name is Taing David, I am an interactive designer living in Paris. Previously working @30dirtyfingers. Currently Studying @Hetic, and doing freelance work for 2 Years now.</p>
    <p>This portfolio was developped by <span class="dev">Sulivan Nguyen</span>, and we both are looking for a 4 months internship from July to October.</p>
    <ul class="about__socials">
      <li class="about__social"><a href="">Mail</a></li>
      <li class="about__social"><a href="">Dribbble</a></li>
      <li class="about__social"><a href="">Behance</a></li>
      <li class="about__social"><a href="">Twitter</a></li>
      <li class="about__social"><a href="">Linkedin</a></li>
    </ul>
  </div>

</div>
